{% extends "templates/base.html" %}
{% load staticfiles %}

{% block title %}
    EPAPER -
{% endblock %}

{% block topnav %}
    {% include 'templates/_topnav.html' with active_tab='products' %}
{% endblock %}

{% block extraHeader %}
  <!-- extra CSS -->
{% endblock %}

{% block slideshow %}
    {% include 'templates/apps/products/epaper/_epaper_slideshow.html' %}
{% endblock %}

{% block content %}
    {% include 'templates/apps/products/epaper/_epaper_intro.html' %}
    {% include 'templates/apps/products/epaper/_epaper_table.html' %}
{% endblock %}

{% block ending_scripts %}
<!-- custom scripts for THIS page -->
<!-- <script type="text/javascript" src="{% static 'js/scriptIndex.js' %}"></script> -->
{% endblock %}
