{% load staticfiles %}

<section class="section section-no-background center-block">
  <div class="container ">
    <div class="mt-lg mb-lg heading heading-border heading-middle-border heading-middle-border-center">
      <h1 class="mt-top"><strong class="text-tertiary">Partners</strong></h1>
    </div>
    <div class="container">
      <div class="button-group partnersLogosFilter">
        <button data-filter="*" class="button btn-primary current">Show all</button>
        {% for area in areas %}
          <button data-filter=".{{ area }}" class="button btn-primary">{{ area }}</button>
        {% endfor %}
      </div>
      <div class="partnersLogos">
        {% for partner in partners %}
          <div class="grid {% for area in partner.get_area %}{{ area }} {% endfor %}">
            <img  alt="logo-{{ partner.name }}" class="img-responsive" src="{{ partner.logo.url }}" style="height:98px;">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>