{% load staticfiles %}

{% block script_de_fin %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnF6Kt_hRql9eZZ96grbJ6J663J-33lhU&callback=initMap" async defer></script>
{% endblock %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon">
                <span>Get in Touch</span>
            </div>
            <div class="col-md-3">
                <div class="newsletter">
                    <h4>Newsletter</h4>
                    <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

                    <div class="alert alert-success hidden" id="newsletterSuccess">
                        <strong>Success!</strong> You've been added to our email list.
                    </div>

                    <div class="alert alert-danger hidden" id="newsletterError"></div>

                    <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
                        <div class="input-group">
                            <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Latest Tweets</h4>
                <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "", "count": 2}'>
                    <p>Please wait...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-details">
                    <h4>Contact Us</h4>
                    <ul class="contact">
                        <li><p><i class="fa fa-map-marker"></i> <strong></strong> Route de Vevey 105 <br>
                            CH-1618 Châtel-St-Denis</p></li>
                        <li><p><i class="fa fa-phone"></i> <strong></strong> +41 (0) 21 948 20 80</p></li>
                        <li><p><i class="fa fa-fax"></i> <strong></strong> +41 (0) 21 948 20 88</p></li>
                        <li><p><i class="fa fa-envelope"></i> <strong></strong> <a href="mailto:info@optologic.ch">info@optologic.ch</a></p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <h4>Meet us</h4>
                <!-- GOOGLE MAP -->
		        <div id="map" style=""></div>
                <script>
                    function initMap() {
                        // Create an array of styles.
                        var myLatLng = new google.maps.LatLng(46.523445, 6.899624);
                        var styles = [
                        {
                            stylers: [
                                    { hue: "#00c0b5" },
                                    { saturation: -20 }
                                ]
                            },
                            {
                                featureType: "road",
                                elementType: "geometry",
                                stylers: [
                                    { lightness: 100 },
                                    { visibility: "simplified" }
                                ]
                            },
                            {
                                featureType: "road",
                                elementType: "labels",
                                stylers: [
                                    { visibility: "off" }
                                ]
                            }
                        ];



                        // Create a new StyledMapType object, passing it the array of styles,
                        // as well as the name to be displayed on the map type control.
                        var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});

                        // Create a map object, and include the MapTypeId to add
                        // to the map type control.
                        var mapOptions = {
                            zoom: 11,
                            center: new google.maps.LatLng(46.523445, 6.899624),
                            mapTypeControlOptions: {
                                mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
                            }
                        };
                        var map = new google.maps.Map(document.getElementById('map'),
                            mapOptions);

                        //Associate the styled map with the MapTypeId and set it to display.
                        map.mapTypes.set('map_style', styledMap);
                        map.setMapTypeId('map_style');

                        var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            icon: {
                            path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
                            scale: 4,
                            strokeColor:'#00c0b5'
                            },
                            title: 'Opto Logic Technology S.A.'
                        });

                        var contentString =
                        '<div id="content" class="uk-panel" style="">'+
                            '<a id="firstHeading" class="firstHeading"><img src="{% static 'media/img/logo_opto_250x51.png' %}"></a>'+
                            '<div id="bodyContent">'+
                                '<address class="" >'+
                                    '<br>'+
                                    '<div class="uk-grid">'+
                                        '<div class=uk-width-1-2>'+
                                            'Route de Vevey 105<br>'+
                                            '1618 Chatel-St-Denis<br>'+
                                            'Switzerland<br>'+
                                        '</div>'+
                                        '<div class=uk-width-1-2>'+
                                            '<a href="tel:+41219482080"><i class="uk-icon-phone"></i>  +41 21 948 20 80</a>  <br>'+
                                            '<a href="tel:+41219482088"><i class="uk-icon-fax"></i> +41 21 948 20 88</a> <br><br>'+
                                        '</div>'+
                                    '</div>'+
                                '</address>'+
                            '</div>'+
                        '</div>';

                        var infowindow = new google.maps.InfoWindow({
                                content: contentString
                        });


                        marker.addListener('click', function() {
                            infowindow.open(map, marker)
                        });
                        infowindow.open(map,marker);
                        }
                        google.setOnloadCallback(initMap);
                </script>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a href="{% url 'landing-page' %}" class="logo">
                        <img alt="Porto Website Template" class="img-responsive" src="{% static 'media/img/logo_opto_small.png' %}">
                    </a>
                </div>
                <div class="col-md-8">
                    <p>© Copyright 2016. All Rights Reserved.</p>
                </div>
                <div class="col-md-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="page-faq.html">FAQ's</a></li>
                            <li><a href="sitemap.html">Sitemap</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>