{% load staticfiles %}
{% load i18n %}

<div id="tft" class="container mb-lg mt-lg">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-lg"><strong>TFT </strong>Displays</h2>
            <p class="lead">
                {% trans "This is the place where puppy TFT Displays are grown with unicorn milk and love." %}
            </p>
            <p class="mt-lg">
                {% trans "This is the place where puppy TFT Displays are grown with unicorn milk and love." %}
            </p>
            <a href="{% url 'tft:tft_list' %}" type="button" class="btn btn-primary btn-lg">{% trans "Read More" %}</a>
        </div>
        <div class="col-md-6 mt-lg">
            <img class="img-responsive appear-animation" src="{% static 'media/img/static_pages/landing_page/tft-opto.png' %}" data-appear-animation="fadeInRight" alt="">
        </div>
    </div>
</div>
