{% load staticfiles %}
{% load i18n %}

<div class="home-concept mt-xlg mb-xlg">
    <div class="container">

        <div class="row center">
            <span class="sun"></span>
            <span class="cloud"></span>
            <div class="col-md-2 col-md-offset-1">
                <div class="process-image appear-animation" data-appear-animation="bounceIn">
                    <img src="{% static 'media/img/home-concept-item-1.png' %}" alt="" />
                    <strong>Your wish</strong>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                    <img src="{% static 'media/img/home-concept-item-2.png' %}" alt="" />
                    <strong>Our Proposal</strong>
                </div>
            </div>
            <div class="col-md-2">
                <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                    <img src="{% static 'media/img/home-concept-item-3.png' %}" alt="" />
                    <strong>Building</strong>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="project-image">
                    <div id="fcSlideshow" class="fc-slideshow">
                        <ul class="fc-slides">
                            <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="{% static 'media/img/projects/project-home-1.jpg' %}" alt="" /></a></li>
                            <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="{% static 'media/img/projects/project-home-2.jpg' %}" alt="" /></a></li>
                            <li><a href="portfolio-single-small-slider.html"><img class="img-responsive" src="{% static 'media/img/projects/project-home-3.jpg' %}" alt="" /></a></li>
                        </ul>
                    </div>
                    <strong class="our-work">Your Product</strong>
                </div>
            </div>
        </div>

    </div>
</div>
<section class="section section-default section-with-mockup mb-none">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation fadeInLeft appear-animation-visible" data-appear-animation="fadeInLeft" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                    <div class="feature-box-icon">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="mb-sm">Optimize your Project</h4>
                        <p class="mb-lg">Full customized development for your needs..</p>
                    </div>
                </div>
                <div class="feature-box feature-box-style-2 reverse mt-xl appear-animation fadeInLeft appear-animation-visible" data-appear-animation="fadeInLeft" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                    <div class="feature-box-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="mb-sm">Awesome Support</h4>
                        <p class="mb-lg">You won’t be alone, we'll follow you both!.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{% static 'media/img/static_pages/landing_page/man_and_rocket.png' %}" class="img-responsive mockup-landing-page mb-xl appear-animation fadeInDown appear-animation-visible" alt="Porto" data-appear-animation="fadeInDown" data-appear-animation-delay="300" style="animation-delay: 300ms;">
            </div>
            <div class="col-md-4">
                <div class="feature-box feature-box-style-2 mb-xl appear-animation fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                    <div class="feature-box-icon">
                        <i class="fa fa-puzzle-piece"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="mb-sm">Amazing offer must be found.</h4>
                        <p class="mb-lg">Amazing service speech!</p>
                    </div>
                </div>
                <div class="feature-box feature-box-style-2 mt-xl appear-animation fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                    <div class="feature-box-icon">
                        <i class="fa fa-cloud-download"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="mb-sm">Another Amazing thing that we DO!</h4>
                        <p class="mb-lg">Much better than the preview section!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>