{% extends "templates/base.html" %}
{% load staticfiles %}

{% block title %}
    Welcome -
{% endblock %}

{% block topnav %}
{% include 'templates/_topnav.html' with active_tab='landing-page' %}
{% endblock %}

{% block extraHeader %}
  <!-- extra CSS -->
{% endblock %}

{% block slideshow %}
    {% include 'templates/apps/static_pages/landing_page/_1_slideshow.html' %}
{% endblock %}

{% block teaser %}
    {% include 'templates/apps/static_pages/landing_page/_2_teaser.html' %}
{% endblock %}

{% block content %}
    {% include 'templates/apps/static_pages/landing_page/_3_whoweare.html' %}
    {% include 'templates/apps/static_pages/landing_page/_#_counter_section.html' %}
    {% include 'templates/apps/static_pages/landing_page/_4_services.html' %}
    {% include 'templates/apps/static_pages/landing_page/_7_project_section.html' %}
    {% include 'templates/apps/static_pages/landing_page/_5_tft_section.html' %}
    {% include 'templates/apps/static_pages/landing_page/_8_kiosk_printer_seiko_edito.html' %}
    {% include 'templates/apps/static_pages/landing_page/_#_lcd_section.html' %}
    {% include 'templates/apps/static_pages/landing_page/_#_som_section.html' %}
{% endblock %}

{% block ending_scripts %}
<!-- custom scripts for THIS page -->
<!-- <script type="text/javascript" src="{% static 'js/scriptIndex.js' %}"></script> -->
{% endblock %}
